.container {
  width: 100%;
  padding: 10px;
  height: 100%;
  overflow: auto;
  .layoutWarper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 10px;
    .item {
      width: 45%;
      min-height: 100px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}
