.container {
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(240, 242, 245);
  padding: 20px;
  display: flex;
  overflow: auto;
  transform-origin: 0 0;

  .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.body {
  margin: 20px;
  flex: 1;
  overflow: auto;
  .innerBody {
    height: 100%;
  }
}
