@import 'src/theme/_colors.scss';

.drawer {
  width: 300px;
  background-color: white;
  padding: 20px;
  position: relative;
  .header {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    display: flex;
    justify-content: space-between;
    .slider {
      background-color: map-get($colors, 'background');
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-bottom: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      span {
        margin-right: 5px;
      }
    }
    .close {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: map-get($colors, 'background');
      }
    }
  }
}

.input {
  font-size: 12px;
}

.header {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
}

.tabs {
  flex: 1;
  padding-top: 10px !important;
  :global {
    .ant-tabs-content {
      height: 100% !important;
    }
  }
}

.opr {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  border: 1px solid map-get($colors, 'border');
  div {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    &:hover {
      background-color: map-get($colors, 'background');
    }
  }
  div:nth-child(1) {
    border-right: 1px solid map-get($colors, 'border');
  }
}
