@import 'src/theme/_colors.scss';

.content {
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  border-bottom: 1px solid map-get($colors, 'border');
  padding: 0 20px;
  display: flex;
  .pagesWarper {
    display: flex;
    margin: 10px 0;
    position: relative;
    padding-right: 100px;
    width: calc(100% - 300px);
    .pages {
      width: 100%;
      overflow: auto;
      display: flex;
      margin-right: 20px;
      .page {
        padding: 0 10px;
        padding-right: 30px;
        border: 1px solid map-get($colors, 'border');
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        .close {
          position: absolute;
          right: 2px;
          width: 20px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
          img {
            height: 12px;
            width: 12px;
          }
        }
      }
    }
    .new {
      height: 20px;
      width: 100px;
      display: flex;
      position: absolute;
      cursor: pointer;
      right: 0;
    }
  }
  .opr {
    width: 500px;
    border-left: 1px solid map-get($colors, 'border');
  }
}

.operation {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  .zoom {
    display: flex;
    align-items: center;
    cursor: pointer;
    .inputNumber {
      width: 60px;
      margin: 0 10px;
    }
  }
  & > div {
    padding: 0 10px;
  }
}

.history {
  display: flex;
  div {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.code,
.eye {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
