body {
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica,
    'Hiragino Sans GB', 'MicrosoftYaHei', 'WenQuanYi Micro Hei', sans-serif;
}

::-webkit-scrollbar {
  background-color: white;
  border-radius: 10px;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bfbfbf;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
}
