.slider {
  display: flex;
  height: 100%;
  .body {
    height: 100%;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      .title {
        height: 50px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0;
      }
      .component {
        height: calc(100% - 50px);
      }
    }
  }
}

.menu {
  width: 50px;
  height: 100%;
  border-right: 1px solid #f0f0f0;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    height: 50px;
  }
  img {
    height: 24px;
    width: 24px;
  }
}
