name: Deploy GitHub Pages

# 触发条件：在 push 到 master 分支后
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# 任务
jobs:
  build-and-deploy:
    # 服务器环境：最新版 Ubuntu
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: Checkout
        uses: actions/checkout@v2.3.1

      # 生成静态文件
      - name: Install and Test and Build
        run: |
          npm install
          npm run build

      # 部署到 GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
